html,body {
	margin: 0;
	padding: 0;
}

body {
	background: url(images/geometry2.png);
	margin: 0;
	padding: 0;
	font: 16px/24px Arial, Tahoma, sans-serif;
	color: #272727;
}

a {
	text-decoration: none;
}
/*Структура сайта*/

.mid {
	width: 1000px;
	margin: 0 auto;
	box-sizing: border-box;
}


.header {
	background: radial-gradient(rgba(255,255,255,.2), #101417 200px, transparent 200px) 26% -150px no-repeat;
	background-color: #101417;
	background-size: 400px 400px;
}

/*Шапка сайта*/

.wrap-main-menu {
	padding: 20px 0;
}

.menu-top {
	float: 	right;
	height: 70px;
	line-height: 70px;
}

.menu-top a {
	margin: 0 0 0 10px;
	color: #1683a3;
}

.menu-top a:hover {
	color: #fff;
	transition: all .5s;
}

.poster {
	padding-top: 20px;
	width: 100%;
	background:  linear-gradient( 90deg,
		#c16a8a 100px, #a367ba 100px, 
		#a367ba 200px, #2b798f 200px, 
		#2b798f 300px, #76a7ac 300px,
		#76a7ac 400px, #93ae65 400px,
		#93ae65 500px, #dbb16f 500px ) repeat-x;
	background-color: #f2f2f2;
	background-size: 600px 10px;

}

.poster img {
	margin-left: 20px;
	float: left;
}

.poster h3 {
	font-size: 24px;
	font-weight: normal;
	text-align: center;
	color: #830000;
}

.poster p {
	text-align: center;
}

.poster a {
	font-style: 20px;
	color: #fff;
	font-weight: 700;
	background: #b23600;
	border: 1px solid #862900;
	padding: 5px 15px;
	border-radius: 3px;
	box-shadow: 2px 2px 7px -1px #777;
	text-shadow: 0 0 3px #752300;
	
}

.poster a:hover {
	text-shodow: 0 0 3px #034e61;
	background: #068bac;
	border: 1px solid #046d88;
	transition: all 0.5s;
}


/*Главное меню*/

section {
	display: inline-block;
	text-align: left;
}

.menu {
	background: #1683a3;
	border: 1px solid #016c8b;
	border-left: none;
	border-right: none;
}

.menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: center;
}

.menu ul li {
	display: inline-block;
	margin: 5px 30px;
}

.menu ul li a {
	color: #fff;
	text-transform: uppercase;
	text-shadow: 1px 1px  3px #0b4455;
}

.menu ul li a:hover {
	color: #a3e1f3;
	transition: all 1s;
}


.inner-block {
	background: #fff;
	border: 1px solid #ccc;
	border-top: none;
	text-align: center;
}

.backround {
	width: 100%;
	box-sizing: border-box;
	padding: 40px;
	
}

.block {
	float: left;
	width: 440px;
}

.block:nth-child(2n) {
	float: right;
}


.block a  p {
	color: #272727;
}

.announce {
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 20px;
}

.announce img{
	box-shadow: 1px 1px 5px #777;
	transition: transform .7s;
}


.announce h3 {
	font-size: 20px;
	margin: 20px 0 10px;
	color: #01617d;
	padding: 0;
	font-variant: normal;
	line-height: 20px;
}

.announce p {
	text-shadow: 1px 1px 0 #fff;
}

.announce:hover {
	background: #e0eff4;
	border: 1px solid #bfd5dd;
	transition: 1s;
} 

.block:nth-child(1n) .announce:hover img{
	transform: scale(1.01);
	transition: transform .6s;
}



.line {
	border: none;
	border-bottom: 2px dashed #eee;
	margin: 0 40px;
}

.rek {
	margin: 40px 0;
}

.rek img {
	border: 1px solid #ccc;
	border-radius: 3px;
	position: relative;
}

@-moz-keyframes prigskok {
	0%{top:0;}
	10%{top:40px;}
	20%{top:-30px;}
	30%{top:40px;}
	40%{top:-20px;}
	50%{top:40px;}
	60%{top:-10px;}
	70%{top:40px;}
	80%{top:0px;}
	90%{top:20px;}
	100%{top:0px;}
}

.rek img:hover {
	-moz-animation: prigskok 2s;
}


/*Подвал*/

.footer {
	text-align: center;
	text-transform: uppercase;
}

.footer span {
	display: inline-block;
	margin: 20px;
}

/*Адаптивный дизайн*/

@media screen and (max-width: 1000px){
	div.mid {
		width: 95%;
}
	.poster h3 {
		font-size: 22px;
}
	.block {
		width: 46%;
}

	.announce img {
		width: 100%;
}
	.announce h3 {
		font-size: 18px;
	}
	.rek img {
		width: 100%;
	}
}

@media screen and (max-width: 640px){
	.header{
		text-align: center;	
		background-position: center -100px;
	}
	.menu-top {
		float: none;
	}
	.poster img {
		float: none;
	}
	.block {
		width: 100%;
		margin-bottom: 40px;
	}
	.block:last-child {
		margin-bottom: 0;
	}
	.footer span {
		margin: 10px;
	}
	.footer span:last-child {
		margin-top: 0;
	}
}

.clearfix {
	content: "";
	display: table;
	clear: both;

}